.header { 
  width: 50%;
  margin: auto;
  display: flex;
  overflow: auto;
  height: 132px;
  padding-bottom: 2rem;
}

.content {
  width: 50%;
  height: calc(100% - 132px);
  overflow: auto;
  margin: auto;
}

.registration-button {
  background-color: #38a169;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.registration-button:disabled {
  opacity: .2;
}

@media only screen and (max-width: 1024px){
  .header,.content {
      width: 100%;
  }
  .content{
    padding: .5rem;
  }
}

